/* Tab1.css */
.tab1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.objects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* ... */
}

.bottom-containers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
}

.container-two {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 50vh;
  overflow: auto;
}

.container-three {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 50vh;
  overflow: auto;
}
